@use "./variables" as *;

section.contact-form {
  .form-decoration {
    width: 100vw;

    img#left-side {
      transform: translateY(120%);
      position: absolute;
      left: 0;
      rotate: 180deg;
    }

    img#right-side {
      transform: translateY(-300%);
      position: absolute;
      right: 0;
    }
  }

  .form-title {
    position: relative;
    display: inline-block;
    width: fit-content;

    h2 {
      line-height: 0.6;
    }

    &::before {
      content: "";

      position: absolute;
      inset: 0;

      background-image: url("../imgs/aandeslag.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      transform: scale(1.75) translateY(5px);

      z-index: -1;
    }
  }
  margin: 20vh auto 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  form {
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  > form span.form-background {
    width: min(65vw, 1400px);
    transform: rotate(1deg);
    background: $primary;
    margin: 10vh 0 5vh;

    padding: clamp(2rem, 5vw, 5rem);

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(2rem, 6vw, 8rem);
    row-gap: 2rem;

    label {
      color: $black;
      text-transform: uppercase;
      font-weight: 700;
      font-size: clamp(1rem, 1vw, 1.25rem);

      margin-bottom: -1rem;
    }

    input,
    textarea {
      width: 100%;

      background: transparent;
      border: none;
      border-bottom: 3px solid $white;

      color: $white;
      font: inherit;

      padding: 0.5rem 0;

      &:focus {
        outline: none;
      }
    }

    input {
      height: 3rem;
    }

    textarea {
      min-height: 12rem;
      resize: vertical;
    }

    /* Linker kolom */
    label[for="naam"] {
      grid-column: 1;
      grid-row: 1;
    }
    #naam {
      grid-column: 1;
      grid-row: 2;
    }

    label[for="email"] {
      grid-column: 1;
      grid-row: 3;
    }
    #email {
      grid-column: 1;
      grid-row: 4;
    }

    /* Rechter kolom */
    label[for="bedrijf"] {
      grid-column: 2;
      grid-row: 1;
    }
    #bedrijf {
      grid-column: 2;
      grid-row: 2;
    }

    label[for="branche"] {
      grid-column: 2;
      grid-row: 3;
    }
    #branche {
      grid-column: 2;
      grid-row: 4;
    }

    label[for="website"] {
      grid-column: 2;
      grid-row: 5;
    }
    #website {
      grid-column: 2;
      grid-row: 6;
    }

    /* Volle breedte velden */
    label[for="onderwerp"] {
      grid-column: 1;
      grid-row: 5;
      margin-top: 2rem;
    }

    #onderwerp {
      grid-column: 1;
      grid-row: 6;
    }

    label[for="opmerkingen"] {
      grid-column: 1 / span 2;
      grid-row: 7;
      margin-top: 3rem;
    }

    #opmerkingen {
      grid-column: 1 / span 2;
      grid-row: 8;
    }
  }

  button {
    margin-top: 3vh;
    border: none;
    background: #20c000;

    padding: 0.75rem 1.5rem;

    text-transform: uppercase;
    font-weight: 900;
    font-size: clamp(1.25rem, 2vw, 2.5rem);

    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }

  > p {
    text-align: center;
    max-width: 60ch;
  }

  @media (max-width: 768px) {
    > form span.form-background {
      width: 90vw;
      grid-template-columns: 1fr;

      label,
      input,
      textarea {
        grid-column: 1 !important;
        grid-row: auto !important;
        margin-top: 0 !important;
      }
    }

    button {
      //   width: 100%;
      max-width: 30rem;
    }

    .form-decoration {
      display: none;
    }
  }
}
