@use './variables' as *;

header {
    padding: 5vh 0;
    display: flex;
    align-items: center;
    flex-flow: column;
    min-height: 80vh;
    .site-title img {
        width: clamp(300px, 40vw, 1200px);
        height: auto;
        display: block;
    }

    .site-subtitle img {
        width: clamp(300px, 30vw, 900px);
        height: auto;
        display: block;
    }

    .header-buttons {
        padding: 10vh 0;
        width: clamp(250px, 80vw, 2200px);
        display: flex;
        justify-content: center;
        gap: 3vw;
    }

    #header-corner-decoration {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
    }

    #header-side-decoration {
        position: absolute;
        right: 0;
        top: 25%;
        z-index: 10;
    }
}

@media  screen and (max-width: 768px) {
    header .header-buttons {
        flex-flow: column wrap;
        gap: 2.5vh;
        align-items: center;
    }
}