@use "./variables" as *;

.introduction-block {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0;

  img.upper-divider {
    margin-bottom: -1px;
  }

  img.lower-divider {
    margin-top: -1px;
  }

  .intro-stars {
    img {
      &#star-1,
      &#star-2 {
        width: 10vh;
        position: relative;
        bottom: 0;
        left: 10vw;
        z-index: 2;
      }
    }
    img#star-1 {
      transform: translateY(-75%);
    }
    img#star-2 {
      transform: translateY(-75%) translateX(-25%) rotate(-20deg) scale(0.5);
    }
  }

  section.introduction {
    padding: 5vh 10vw;
    background-color: $primary;
    position: relative;
    display: flex;
    z-index: -1;
    justify-content: center;
    gap: 5vw;
    flex-flow: row wrap;

    article {
      width: clamp(200px, 30vw, 800px);

      h3 {
        position: relative;
        display: inline-block;
        z-index: 1;
        margin-bottom: 1vh;

        &::after {
          content: "";
          position: absolute;

          left: 0;
          bottom: 0;

          width: 100%;
          height: 0.3em;

          background: $white;
          z-index: -1;
        }
      }
    }
  }
}
