@use './styles/variables' as *;

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    font-family:'Vina Sans', Arial, sans-serif;
    background-color: $white;
}

p, span, h1, h2, h3, h4, button {
    color: $black;
}

a, b {
    color: $primary;
}

a:hover{
  color: $primary-dark;
}